<%= form_with method: :post, url: glucose_csvs_path do |form| %>
  <div>
    <%= form.label :csv, style: "display: block" %>
    <%= form.file_field :csv %>
  </div>

  <div>
    <%= form.submit  %>
  </div>
<% end %>
