<p style="color: green"><%= notice %></p>

<% content_for :title, "Glucose csvs" %>

<h1>Glucose csvs</h1>

<div id="glucose_csvs">
  <% @glucose_csvs.each do |glucose_csv| %>
    <%= render glucose_csv %>
    <p>
      <%= link_to "Show this glucose csv", glucose_csv %>
    </p>
  <% end %>
</div>

<%= link_to "New glucose csv", new_glucose_csv_path %>
